ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a535c;
}

.staff_info {
  border: 2px solid #444;
  padding: 2rem;
  text-align: center;
  margin-top: 60px;
  max-width: 400px;
  font-size: 1.2rem;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #666;
}

.staff_name {
  border-bottom: 1px solid #666;
  padding-bottom: 8px;
}

.job_info {
  padding-top: 12px;
}
